body {
  background-color: #2dc4ff;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 5px 20px;
  color: white;
}

.App-logo-block {
  display: flex;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
