

body {
	user-select: none;
}

.content-title {
	margin: 20px 0px;
	font-size: 40px;
	font-family: 'Montserrat';
	outline: none;
}

.content-title:hover {
	cursor: pointer;
}

.player {
	margin-top: 75px;
	padding: 10px;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	background-color: #666666;
}

.controls {
	text-align: center;
	display: flex;
	justify-content: center;
	height: 50px;
	margin-top: 10px;
}

.player-button {
	border: none;
	width: 30px;
	height: 30px;
	background-color: transparent;
	outline: none;
	padding: 0;
	font-size: 25px;
	color: #000;
	padding-top: 3px;
}

.player-button:hover {
	cursor: pointer;
	
}

.play-button {
	padding-left: 3px;
	padding-top: 0;
	font-size: 30px;
	color: #000;
	margin: 0 10px;
}

.play-button:hover {;
	color: #222;
}


.prev-button:hover {
	color: #222;
}

.next-button:hover {
	color: #222;
}

.progress {
	display: flex;
	width: 100%;
	margin: 0;
	margin-left: 11px;
	background-color: transparent;
	border: none;
	height: 30px;
}

.bar {
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
	height: 5px;
	background-color: #bababa;
	cursor: pointer;
}

.progress-bar {
	width: 60%;
	height: 100%;
	background-color: #666666;
}

.volume-block {
	display: flex;
	padding: 20px 0px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.fa-volume-up {
	color: black;
	margin-right: 7px;
}

.volume-curcle {
	width: 10px;
	height: 10px;
	background-color: grey;
	position: absolute;
	border-radius: 50%;
	border: 1px solid #443535;
	top: -3px;
	right: -1px;
}

.volume {
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
	height: 4px;
	background-color: #bababa;
	cursor: pointer;
}

.volume-bar {
	height: 100%;
	background-color: #000;
	position: relative;
	
}

.plaing-content {
	background: url(img/background.jpg);
	
}

.playlist {
	list-style: none;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.playlist-item {
	color: white;
	text-align: left;
	margin: 3px 3px;
	background-color: #222;
	padding: 5px 5px;
}

.playlist-item:hover {
	background-color: #333333;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	
}

.playlist-item:hover .song-image {
	border-radius: 0px;
	width: 100px;
	height: 100px;
}

.flex-item {
	display: flex;
}

.image-block {
	padding-right: 10px;
	border-right: 1px solid white;
}

.song-image {
	width: 80px;
	height: 80px;
	background-color: lightgrey;
}

.playlist-item > a {
	text-decoration: none;
	color: white;
}

.song-desc {
	color: white;
	margin-left: 10px;
	vertical-align: middle;
}

.song-title {
	color: white;
	font-size: 20px;
	font-weight: 600;
	padding: 5px 0;
}

.song-album {
	font-size: 16px;
}

.song-artist {
	font-size: 15px;
}

.plaing-block {	
	width: 300px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	position: relative;
}

.plaing-desc {
	color: #000;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

.plaing-content {
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
	height: auto;

	left: 0px;
	top: 50px;
	z-index: 3!important;
}

.plaing-image {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 300px;
}

.plaing-title {
	color: #000;
	font-size: 20px;
	font-weight: 600;
	padding: 15px 0;
}

.plaing-album {
	font-size: 16px;
}

.plaing-artist {
	font-size: 15px;
}

.fa-angle-down, .fa-angle-up {
	margin-left: 10px;
}

.playlist-container {
	margin-top: 50px;
}

